
</div>
<div class="container" style="max-width: 960px;">

    <div style="line-height: 40px;">
        <span class="header"><a class='brand' href='/'>
          <img style="padding-right: 10px;" src="{{ url_for('static', filename='img/logo.png') }}" >
            <span class="muted" style="padding-left: 10px; color:#808080 ; border-left: 1px solid #7b7b7b; font-size: 27px;">VESTEL BEYAZ EŞYA MILKRUN</span></a></span>
            
        
            <span style="float: right;">
                <a class="btn btn-danger btn-sm"  href='/logout'>
                    <span>
                        Çıkış
                    </span>
                </a>&nbsp;&nbsp;
                        
            </span>
            <span style="float: right;">
                <a class="btn btn-danger btn-sm"  href='/kayitlar'>
                    <span>
                        Gönderimler
                    </span>
                </a>&nbsp;&nbsp;
                        
            </span>
            <span style="float: right;">
                <a class="btn btn-danger btn-sm"  href='/kayitlaruc'>
                    <span>
                        Onaylı Gönderimler
                    </span>
                </a>&nbsp;&nbsp;

            <span style="float: right;">
                <a class="btn btn-danger btn-sm"  href='/tedarikci' >
                    <span>
                        Anasayfa
                    </span>
                </a>&nbsp;&nbsp;
         
            
    </div>
    <hr />
    <div class="navbar">
        <div class="main-nav">
            <ul class="main-menu group">
                
            </ul>
        </div>
    </div>
    
<script type="text/javascript">
$(document).ready(function () {
    $("#myCarousel").carousel({
        interval: 10000,
        pause: false
    });
});
</script>