
</div>
<div class="container" style="max-width: 960px;">

    <div style="line-height: 40px;">
        <span class="header"><a class='brand' href='/'>
          <img style="padding-right: 10px;" src="{{ url_for('static', filename='img/logo.png') }}" >
            <span class="muted" style="padding-left: 10px; color:#808080 ; border-left: 1px solid #7b7b7b; font-size: 27px;">VESTEL BEYAZ EŞYA MILKRUN</span></a></span>
            
        
            <span style="float: right;">
                <a class="btn btn-danger"  href='/logout'>
                    <span>
                        Çıkış
                    </span>
                </a>&nbsp;&nbsp;
                        
            </span>
            <span style="float: right;">
                <a class="btn btn-danger"  href='/kayitlariki'>
                    <span>
                        Gönderimler
                    </span>
                </a>&nbsp;&nbsp;
                        
            </span>
            <span style="float: right;">
                <a class="btn btn-danger"  href='/admin'>
                    <span>
                        Anasayfa
                    </span>
                </a>&nbsp;&nbsp;
                        
            </span>